# Python Introduction

In [44]:
a = 5.8
a
type(a)

float

In [45]:
type(a)

float

In [46]:
x=6

In [47]:
name = "String"

In [48]:
type(name)

str

In [49]:
len(name)

6

Python uses index method to access anything

The index in python always start from 0 from forward and -1 from the backward

In [50]:
city = 'I like Hyderabad'

In [51]:
len(city)

16

Index

In [52]:
city[-1]

'd'

In [53]:
city[2:5]

'lik'

In [54]:
city[2:10:2]

'lk y'

In [55]:
city[::-1] #To reverse a string

'dabaredyH ekil I'

In [56]:
city2 = " Bangalore"

In [57]:
city+city2

'I like Hyderabad Bangalore'

In [58]:
city + " I am loving my stay"

'I like Hyderabad I am loving my stay'

We can only concat two strings and cannot concat string and an integer

In [59]:
city.capitalize() #capatilize will capatilize the first letter

'I like hyderabad'

In [60]:
city.upper() # Will make everything to uppercase

'I LIKE HYDERABAD'

In [61]:
city.lower() # Will make everything to lowercase

'i like hyderabad'

In [62]:
import sys
sys.version

'3.9.12 (main, Apr  5 2022, 01:53:17) \n[Clang 12.0.0 ]'

In [63]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
x = 10.81
print(x)
type(x)

10.81

float

complex number = x+yi ,  i=sqrt(-1)

# Arthmetic operations

In [65]:
x,y,z = 10,11,12
x+y

21

In [66]:
print(x-y)
print(x*y)
print(x/y) #division
print(x%y) #modulus

-1
110
0.9090909090909091
10

strings are combination of characters of variable length

len() cannot be used forint

In [69]:
x = 'a'
print(x*5) # It will print 5 times

aaaaa

# List

Lists contains hetreogeneous data types, so it can consider combination of data types. List is mutable , follows index, allows duplicate values. List is denoted in []

In [70]:
list1 = [1,2,3,4,5]

In [71]:
type(list1)

list

In [72]:
#to add into a list
list1.append(6)

In [73]:
list1

[1, 2, 3, 4, 5, 6]

In [76]:
list1.insert(3,8) # will insert 8 at index 3
list1

[1, 2, 3, 8, 8, 4, 5, 6]

In [77]:
list1.pop(3) # will remove thge element at index 3

8

#Linked List -> List inside a list

In [78]:
list4 = [1,2,3,[4,5,6]]

In [79]:
list4

[1, 2, 3, [4, 5, 6]]

In [80]:
list4[3]

[4, 5, 6]

In [82]:
list4[3][1] #To assess the element inside the list.

5

Append will only take one argument. # list4.append(4,5,6,7) -> will return error because it have 4 arguments

In [83]:
#There are immutable and mutable. If we can change the variable it is called mutuable and we cannot change it is immutable

In [98]:
#create a list [1,2,3,4,[5,6,7]] and add an element 9 after 5

In [99]:
Lis = [1,2,3,4,[5,6,7]]

In [100]:
Lis[4]

[5, 6, 7]

In [101]:
Lis[4].insert(1,9)

In [102]:
Lis

[1, 2, 3, 4, [5, 9, 6, 7]]

# Set

Set contains hetreogeneous data types, so it can consider combination of data types. Set is mutable , doesnot follows index, doesnot allows duplicate valueslues. Set is denoted in { }

In [105]:
set1={1,2,3,4}

In [106]:
type(set1)

set

In [107]:
len(set1)

4

In [108]:
set1={1,2,2,3,4,5}

In [109]:
len(set1)

5

In [116]:
set2 = {2,3,4,5,6}

In [117]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [118]:
set1.intersection(set2)

{2, 3, 4, 5}

In [119]:
set1-set2

{1}

In [120]:
set2-set1

{6}

set object is not subscriptable so set will reurn an error set[index] ex: set1[0]

To add an element to a set insert will not work only add

In [122]:
set1.add(10)

In [123]:
set1

{1, 2, 3, 4, 5, 10}

# Tuple

Tuple contains hetreogeneous data types, so it can consider combination of data types. Tuple is immutable , follows index, allows duplicate values. Tuple is denoted in ()

In [124]:
tup1 = (1,2,3,4,4,5)

In [125]:
type(tup1)

tuple

We cannot add or insert or remove any element from tuple

In [126]:
tup1[0]

1

indexing is available in tuple

# If condition

In [136]:
x = 10
y = 12

In [137]:
if (x == 10):
    x = 17
    print("x is equal to",x)

x is equal to 17

# If else condition

In [138]:
x=12
y=13

In [139]:
if (x == 10):
    x = 17
    print("x is equal to",x)
else:
    x = 19
    print("x is equal to",x)

x is equal to 19

# If elif else

In [143]:
x=12
y=13

In [141]:
if (x == 10):
    x = 17
    print("x is equal to",x)
elif (x == 12):
    x = 19
    print("x is equal to",x)
else:
    x = 21
    print("x is equal to",x)

x is equal to 19

In [153]:
x = 10

In [154]:
if (x == 10):
    x = 17
    print("x =",x)
    if ( x% 2 == 0):
        print("x is even",x)
    else:
        print("x is odd",x)
elif (x == 12):
    x = 19
    print("x is equal to",x)
else:
    x = 21
    print("x is equal to",x)

x = 17
x is odd 17

# Class 3

# For Loop

For loop is used for repeating on a single object

In [156]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [163]:
list1 = [51,2,53,4]
for i in range(len(list1)):
    print(list1[i])

51
2
53
4

In [165]:
list1 = [1,2,3,4]
for i in range(len(list1)):
    j =list1[i] * list1[i]
    print("The square of {} is {}".format(i,j))

The square of 0 is 1
The square of 1 is 4
The square of 2 is 9
The square of 3 is 16

 the first {} will take i and second {} will take j {} are fictional parameters

# If Inside a for

In [166]:
list1 = [1,2,3,4]
evenlist = []
oddlist= []
for i in range(len(list1)):
    j =list1[i] * list1[i]
    print("The square of {} is {}".format(i,j))
    if (j%2 == 0):
        evenlist.append(j)
    else:
        oddlist.append(j)

The square of 0 is 1
The square of 1 is 4
The square of 2 is 9
The square of 3 is 16

In [167]:
evenlist

[4, 16]

In [168]:
oddlist

[1, 9]

# Function

function repeatedly usable block of code

In [169]:
def add_2_nos():
    return 10

In [171]:
x = add_2_nos()

In [172]:
x

10

In [173]:
def add_ten(num):
    return num+10
x = add_ten(10)
x

20

In [174]:
def add_2_nums(num1,num2):
    return num1+num2
x = add_2_nums(10,20)
x

30

In [175]:
def add_2_nums(num1,num2 = 10):
    return num1+num2
x = add_2_nums(10,20)
x

30

In [176]:
def add_2_nums(num1,num2 = 10):
    return num1+num2
x = add_2_nums(10,) 
x

20

num2 have a default value, if we pass any value it will take that if not it will take the default value

In [177]:
def func1(num1,*args):
    print(num1)
    for i in args:
        print(i)

In [178]:
func1(10,20,30,40)

10
20
30
40

*args used to pass a variable number of arguments to a function

In [181]:
def func2(num1,*args):
    print(num1)
    j=0
    for i in args:
        j=j+i
    return j
x = func2(10,20,30,40)
x

10

90

# Dictionaries

Dictionary have key and values and it is denoted in {}

In [182]:
dict1 ={1:'a',2:'b'}