In [ ]:
a = 5.8
a
type(a)

In [2]:
import sys
sys.version

'3.9.12 (main, Apr  5 2022, 01:53:17) \n[Clang 12.0.0 ]'

keyword is a package and keyword.kwlist will give all the reserved keywords

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
_abc_def = 10

In [5]:
print(_abc_def)

10

In [6]:
FOR = 15

In [8]:
print(FOR)

15

In [9]:
a = True

In [10]:
a

True

In [11]:
import pandas as pd

df is the identifier

pd is alias instead of using panas everything we are using pd

In [13]:
df = pd.DataFrame(keyword.kwlist)

In [14]:
df

                 0
0            False
1             None
2             True
3   __peg_parser__
4              and
5               as
6           assert
7            async
8            await
9            break
10           class
11        continue
12             def
13             del
14            elif
15            else
16          except
17         finally
18             for
19            from
20          global
21              if
22          import
23              in
24              is
25          lambda
26        nonlocal
27             not
28              or
29            pass
30           raise
31          return
32             try
33           while
34            with
35           yield

Number without decimal is called integer

In [15]:
a = 45

In [16]:
a = 1111

Binary Form (Base 2)

In [17]:
a = 0b1111

In [18]:
a

15

Binary have only 0 or 1. So we will get an error

In [19]:
a = 0b222

SyntaxError: invalid digit '2' in binary literal (1405162646.py, line 1)

Octal Form (Base 8)

In [20]:
a = 0o123

In [21]:
a

83

In [22]:
type(a)

int

Number with decimal is called float

In [1]:
g = 2.4e0

In [2]:
g

2.4

In [3]:
g = 2.4e1
g

24.0

In [5]:
g = 2.4e2
g

240.0

In [6]:
g = 2.4E2
g

240.0

exponential is not case sensistive. small or capital e can be used

In [7]:
y = 20.5+2.3j
z = 20.9+42.j
y+z

(41.4+44.3j)

python will understand only j for the complex data type 40+20.3m will give an error

Imaginary part will not accept binary, octave or hexadecimal data type

In [8]:
y-z

(-0.3999999999999986-39.7j)

In [9]:
y*z

(331.85+909.0699999999999j)

In [10]:
y/z

(0.23857125331128085-0.3693776382331959j)

In [11]:
y.real

20.5

to see only the real part in the complex

In [13]:
y.imag

2.3

to see only the complex part in the complex

In [14]:
a = 10
b = 20
c = a > b

In [15]:
c

False

In [17]:
Nethra = 'Data Science'
Nethra

'Data Science'

In [18]:
Nethra = "Data Science"
Nethra

'Data Science'

In [20]:
Nethra = "'Data \n Science'"
Nethra

"'Data \n Science'"

Type casting

Float to int -> valid,
String to int -> no,
Bool to int -> valid,
Complex to int -> no,

int to float -> valid,
String to float -> no,
Bool to float -> valid,
Complex to float -> no

For complex we can type cast anythiong except string

For bool we can type cast anything

Address of memory location: id()

In [22]:
x=10
print(id(x))

140206120561232

list is denoted in [ ]. It allows duplicaty values and have indexing. To add we use .append(), allows multiple data types

In [23]:
l = []

In [24]:
l

[]

In [25]:
l.append(10)
l.append(20)
l.append(30)
l.append(10)

In [26]:
l

[10, 20, 30, 10]

In [27]:
l.append('Neth')

To remove . remove() must be used

In [28]:
l.remove(10)

In [29]:
l

[20, 30, 10, 'Neth']

List allows forward index and backward index also

In [30]:
l[3]

'Neth'

In [31]:
l[0:3]

[20, 30, 10]

In [32]:
l[-1]

'Neth'

Forward index start from 0 and backward index stars from -1

Slicing - > [:]

Slicing is allowed in list

In [33]:
l[1] = 2000

In [34]:
l

[20, 2000, 10, 'Neth']

List is mutable which means we can change after it is defined

In [35]:
l[1:-1]

[2000, 10]

Only difference in list and tuple is list is mutuable and tuple is immutable and it is denoted in ( ). All the other operations are same.

In [36]:
t = (10,20,'Apple')

In [38]:
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

t.append and t.add, t.remove will give error because we cannot change because it is immutale

indexicing is also not allowed

In [40]:
t = (2,3,[20,30],5)

In [41]:
t

(2, 3, [20, 30], 5)

In [43]:
colors = "red","green","blue"
rev = colors[::-1]
rev

('blue', 'green', 'red')

In [44]:
colors = "red","green","blue"
rev = colors[::-2]# step is 2 to return alternate
rev

('blue', 'red')

In [45]:
r = range(30)
r

range(0, 30)

We canot declare float arguments

In [46]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [47]:
r[5]

5

In [48]:
r[0:3]

range(0, 3)

In [49]:
range(10,50) # will give range from 10 to 50

range(10, 50)

In [51]:
range(10,50,5) # will give 10 to 50 with increment of 5

range(10, 50, 5)

Range takes 3 arguments maximum, start, end, and step

In [52]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

Set is denoted in {} and it doesnot allow duplicate values and it is unordered so no indexing allowed and it is mutable

In [53]:
s = {1,2,3,'neth'}

In [54]:
s.add(4)

In [55]:
s

{1, 2, 3, 4, 'neth'}

set doesnot allow slicing

we can add and remove in set.

to add in list we use append and in set we use add, if we use append in set will give error

Frozenset set is same as set but it is immutable

In [56]:
s2= frozenset(s)

In [57]:
s2

frozenset({1, 2, 3, 4, 'neth'})

In [59]:
s2.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [60]:
s = set()

In [61]:
type(s)

set

to denote an empty set # variable = set()

So we cannot add or remove in frozen set

Dictionary

Dictionary Have keys and values.Keys are unique and values can be duplicate values. Dictionary is also denoted by {}

In [62]:
d1 = {100:200,101:'Neth',102:'DS'}

In [63]:
d1

{100: 200, 101: 'Neth', 102: 'DS'}

Arithemetic operators

In [64]:
a = 10
b = 5

In [65]:
c = a+b
c

15

In [66]:
f=a*b

In [67]:
f

50

In [68]:
import math

In [69]:
math.sqrt(25)

5.0

In [70]:
a = 10
math.sqrt(a)

3.1622776601683795

In [71]:
round(math.sqrt(a))

3

In [72]:
hi = "Nethra"
Name = "Data"
hi + Name

'NethraData'

In [73]:
4 < 5

True

In [74]:
mylist = [10,20,30,40,1000]

In [75]:
for j in mylist:
    print('jj is equal to:',j)

jj is equal to: 10
jj is equal to: 20
jj is equal to: 30
jj is equal to: 40
jj is equal to: 1000

In [76]:
range(5)

range(0, 5)

In [77]:
list(range(5))

[0, 1, 2, 3, 4]

In [78]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [79]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

If Statement

Numpy is a package used for scientific computation, matrix, array

In [81]:
import numpy as np
from numpy.random import randn

numpy.random -> generate a random number from numpy package

numpy is a package, random is a module and randn is a function.

In [84]:
x = randn()

In [85]:
x

0.2683065340008037

In [ ]:
if x > 1:
    print("Greater than 1")
else:
    print("Less than 1")

In [86]:
fruits = ['Orange','Apple','Pears','Kiwi','Apple','Banana']
fruits.count('Apple')

2

In [88]:
fruits.count('apple') #Python is case sensitive

0